* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    color: #f0ae55;



}


/*body {
    background-image: linear-gradient(to right, #c1c161 0%, #e2e23d 0%, #d4d4b1 100%);



}
*/
#wrapper {

    width: 1050px;
    height: 550px;
    border-radius: 10px;
    position: relative;
    box-shadow: 14px 26px 64px -19px rgba(0, 0, 0, 0.75);
    top: 150px;
    overflow: hidden;
    background-color: #fdfdfd;
    line-height: 1.2
}



#info {
    padding-top: 50px;
    float: left;
    width: 650px;
    overflow: hidden;


}

.sections {
    text-align: center;
    padding-top: 60px;
    

}

#firstsection {
    line-height: 1.5;
}

#secondsection {
    text-align: left;
    width: 350px;
}



blockquote {
    text-align: center;
    margin-top: 20px;
}



#thirdsection {
    line-height: 2.5;
}


#photo {
    width: 400px;
    height: 550px;
    float: left;
    position: relative;
    overflow: hidden;


}

#img1 {
    background-image: url(../img/panadda1.jpg);
    width: 640px;
    height: 960px;
    position: absolute;
    left: -220px;
    top: -260px;



}

.clearfix {
    clear: both;
}


#socialemedia {
    text-align: center;
}

.bttn {
    display: inline-block;
    padding-left: 20px;
}
